.preview {
  float: left;
  margin-right: 20px;
}

.preview iframe {
  border: 0;
  height: 300px;
}

.sidebar {
  background: lightgreen;
  height: 300px;
}

body.preview1 {
  background: orange;
}

body.preview2 {
  background: yellow;
}
